<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver android:name="net.agasper.unitynotification.UnityNotificationManager" android:exported="false"></receiver>
        <receiver android:name="net.agasper.unitynotification.UnityNotificationActionHandler" android:exported="false"></receiver>
    </application>

</manifest>
